@media screen and (max-width: 1200px) {
	.homepage {
		margin-top: 70px!important;
	}
}
.homepage {
	max-width: 1200px;
	margin-inline: auto;
	margin-top: 165px;
	.card {
		width: 350px;
		.cardImg {
			width: 350px;
			height: auto;
		}
	}
}